{% extends 'base.html.twig' %}

{% block title %}Cours{% endblock %}

{% block body %}
<div class="d-flex justify-content-between flex-wrap">
    {% for cour in cours %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ asset('images/cours/' ~ cour.image) }}" alt="">
                    <div class="card-body">
                        <h5 class="card-title">{{cour.nomCours}}</h5>
                    </div>
                    <div class="card-body">
                            <p>Le nombre de chapitres est {{ cour.nbChapitres }}</p>
                            <p class="card-text">{% if cour.estPayant == 1 %}
                                    Le cours est payant
                                    {% else %}
                                    Le cours est gratuit
                            {% endif %}</p>
                             <a href="{{ path('detail_cours', {id:cour.id})}}" class="btn btn-primary">Suivre</a>
                            
                        </div>
                    </div>
    {% endfor %}
</div>
{% endblock %}
